<form class="cus-form" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">

    <div class="form-row">
        <div class="form-group col-md-12">
            <input class="form-control" name="email" #email="ngModel" [(ngModel)]="customerService.selectedCustomer.email" placeholder="email"
                required>
            <!-- <div class="validation-error" *ngIf="email.invalid && email.touched"> This is required </div> -->
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <input class="form-control" name="password" #password="ngModel" [(ngModel)]="customerService.selectedCustomer.password" placeholder="password">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <button [disabled]="!loginForm.valid" type="submit" class="btn btn-lg btn-block btn-info">
                <i class="fa fa-floppy-o"></i> Login</button>
        </div>
    </div>

</form>